:root{
  --main-red:#E41223;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*Global Styles*/
.standard_btn{
background-color:var(--main-red);
color:white;
padding: 1em;
text-align: center;
font-size: 1.2em;
border-radius:1.5em;
cursor:pointer;
}

.logowrapper {
    height:30%;
    width:33%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:60px;
    }



/*Global Styles*/




/* FOOTER */
.footer{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  background-color: #353535;
  color:white;
  text-align:center;
  padding:2em;
  margin-top: 2em;
}
.footer_a{
  color:white;
}
.footer_b{
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
}
/* FOOTER */











